<h1>Reservation Cancelled</h1>
<p>Hi <%= @user.name %>,</p>
<p>Your reservation for the book below has been cancelled.</p>
<br><br>
<div class="book-details">
  <%= image_tag @book.img_url%>
  <h3><%= @book.title %></h3>
  <p>Author: <%= @book.author %></p>
</div>
<br><br>
<p>Please see one of our staff members at the front desk for more information.</p>
