<h1>Add New book</h1>

<% if flash[:message].present? %>
  <p class="flash"><i class="fa fa-check-circle" aria-hidden="true"></i><%= flash[:message] %></p>
<% end %>

<%= render :partial => 'form' %>
