// @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
@import 'variables';

// DAN
.notification {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 5px;
  margin: 0 5px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  line-height: 1em;
  text-align: center;
}

.featured {
  padding: $big-spacing 11em;
  background: $ga-grey;
  img {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin-left: 5px;
    box-shadow: $card-boxshadow;
  }
  .slider {
    padding: 0 1em 0 4em;
  }
  button {
    width: 20px;
    height: 50px;

  }

  .featured-info {
    display: inline-block;
    vertical-align: middle;
    width: 67%;
    margin-left: 5%;
    font-size: 13px;
  }

}

.aa-input-container {
  margin-left: 1em;
}

.bookwrap {
	margin: 0 auto;
	padding: 0;
	max-width: 1680px;
	padding: 10px;
	// border: 1px solid red;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
  h3,p {
    margin: 0 0 1em
  }
  .book-image {
    height: 173px;
    width: 132px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    // border: 1px solid blue;
    .side {
      // border: 1px solid pink;
      text-transform: uppercase;
      color: #777777;
      text-align: center;
    }
  }
  .side {
    text-align: center;
    padding: $small-spacing;
  }

  li {
  	margin: 10px 1%;
  	padding: $main-spacing;
  	// border: 1px solid green;
  	display: inline-block;
  	width: 29%;
  	vertical-align: top;
  	display: flex;
  	flex-direction: column;
  	flex: 1 0 29%;
  	min-width: 280px;
    box-shadow: $card-boxshadow;
    &:hover {
      box-shadow: 0 2px 10px 0 rgba(129, 126, 130, 1);
      background: lighten($ga-grey, 3);
    }
  }
  .book-footer, #carousel-footer {
    border-top: 1px solid grey;
    padding-top: 1em;
  	margin-top: auto;
    p {
      color: #777777;
      display: inline;
      #available {
        font-weight: bold;
        color: $ga-green;
        text-transform: uppercase;
        padding-left: 1em;
      }
      #unavailable {
        @extend #available;
        color: #F69679;
      }
    }
    .out {
      font-style: italic;
    }
    b {
      float: right;
    }
    input[type="submit"] {
      background-color: white;
      color: $ga-red;
      border: 1px solid $ga-red;
      box-shadow: none;

      &:hover {
        background-color: $ga-red;
        color: white;
        cursor: pointer;
      }
      &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        border: 1px solid #c0c0c0;
        color: #c0c0c0;
        background-color: #ffffff;
      }
    }
  }
} //bookwrap

#carousel-footer {
  p {
    color: #777777;
    display: inline;
    #available {
      font-weight: bold;
      color: #82CA9C;
      text-transform: uppercase;
      padding-left: 1em;
    }
    #unavailable {
      @extend #available;
      color: #F69679;
    }
  }
  .out {
    font-style: italic;
  }
  b {
    float: right;
  }
  input[type="submit"] {
    background-color: white;
    color: $ga-red;
    border: 1px solid $ga-red;
    box-shadow: none;

    &:hover {
      background-color: $ga-red;
      color: white;
      cursor: pointer;
    }
    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      border: 1px solid #c0c0c0;
      color: #c0c0c0;
      background-color: #ffffff;
    }
  }
}


#carousel-description {
}

.pagination {
  text-align: center;
  color: #717A8D;
  padding: 1em;
  word-spacing: 2em;
  a {
    color: #717A8D;
    text-decoration: none;
  }
  em.current {
    color: $ga-yellow;
    font-weight: bold;
  }
}
