// @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
@import 'variables';

// DAN
.notification {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 5px;
  margin: 0 5px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  line-height: 1em;
  text-align: center;
}

.featured {
  padding: $big-spacing 11em;
  img {
    display: inline-block;
    vertical-align: middle;
    width: 19%;
    border: 1px solid red;
  }
  .slider {
    padding: 0 8em;

    button {
      width: 20px;
      height: 50px;
    }
  }
  .featured-info {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    margin-left: 5%;
  }
}

.aa-input-container {
  margin-left: 1em;
}

.bookwrap {
	margin: 0 auto;
	padding: 0;
	max-width: 1680px;
	padding: 10px;
	// border: 1px solid red;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
  h3,p {
    margin: 0 0 1em
  }
  .book-image {
    height: 173px;
    width: 132px;
    margin: 10px 0;
    overflow: hidden;
    // border: 1px solid blue;
  }
  .side {
    // border: 1px solid pink;
    text-transform: uppercase;
    color: #777777;

    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
  }
  li {
  	margin: 10px 1%;
  	padding: $main-spacing;
  	// border: 1px solid green;
  	display: inline-block;
  	width: 29%;
  	vertical-align: top;
  	display: flex;
  	flex-direction: column;
  	flex: 1 0 29%;
  	min-width: 280px;
    box-shadow: $card-boxshadow;
  }
  .book-footer {
  	margin-top: auto;
    p {
      color: #777777;
      display: inline;
      #available {
        font-weight: bold;
        color: #82CA9C;
        text-transform: uppercase;
        padding-left: 1em;
      }
      #unavailable {
        @extend #available;
        color: #F69679;
      }
    }
    .out {
      font-style: italic;
    }
    b {
      float: right;
    }
    input[type="submit"] {
      background-color: white;
      color: $ga-red;
      border: 1px solid $ga-red;
      box-shadow: none;

      &:hover {
        background-color: $ga-red;
        color: white;
        cursor: pointer;
      }
      &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        border: 1px solid #c0c0c0;
        color: #c0c0c0;
        background-color: #ffffff;
      }
    }
  }



}
