@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$ga-red: rgb(237, 30, 59);
$ga-yellow: rgb(251, 211, 51);
$ga-black: rgb(0, 0, 0);
$ga-grey: rgb(230, 247, 255);
$main-font: 'Open Sans', sans-serif;
$main-spacing: 2em;
$small-spacing: 1em;
$big-spacing: 4em;
$card-boxshadow: 0 3px 10px 0 rgba(0, 0, 0,.1);

// $card: #fafafa;
