@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$ga-red: rgb(237, 30, 59);
$ga-yellow: rgb(251, 211, 51);
$ga-black: rgb(0, 0, 0);
$ga-darkgrey: rgb(34, 34, 34);
$ga-grey: rgb(236, 236, 236);
$ga-green: rgb(0, 171, 107);
$ga-lightblue: rgb(230, 247, 255);
$ga-blue: rgba(53, 141, 242, .4);
$main-font: 'Open sans', sans-serif;
$main-color: #383E40;
$main-spacing: 2em;
$small-spacing: 1em;
$big-spacing: 4em;
$card-boxshadow: 0 2px 10px 0 rgba(0, 0, 0,.2);
$card-border-color: #3F3F44;
