<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      font-family: Helvetica, sans-serif;
      color: black;
      font-size: 14px;
      line-height: 1;
    }
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }
    header {
      margin: 0;
      background-color: black;
    }
    header img {
      height: 50px;
    }
    .book-details img {
      width: 120px;
    }
    .signature {
      margin-top: 60px;
    }
  </style>
</head>
<body>

  <header>
    <div class="container">
      <img src="http://res.cloudinary.com/dt9ppmca8/image/upload/v1487289231/GA-library-white_tduarg.png">
    </div>
  </header>

  <div class="container">
    <%= yield %>

    <div class="signature">
      <p>Thank you</p>
      <p>GA Sydney Team</p>
    </div>

  </div>

</body>
</html>
